* {
	margin: 0;
	padding: 0;
	
}

body {
	background-color: #ddd;
	overflow: hidden;
}
html {
	overflow: hidden;
}
.slider {
	width: 1100px;
	height: 700px;
	overflow: hidden;
	border: 10px solid black;
}

.wrapper {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: black;
	transform: translate(-50%, -50%);
	font-size: 10px;
	font-family: 'Verdana', Geneva, sans-serif;
}
.controls {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar {
	height: 12px;
	width: 12px;
	margin: 6px;
	cursor: pointer;
	background-color: #ddd;
	border:2px solid #4682B4;
	opacity: 0.8;
	border-radius: 50%;
	transition: all .4s ease;
}
.bar:hover {
	background-color: #4682B4;
}
.bar:focus-visible {
	outline: 2px solid black;
}
input[name="point"] {
	position: absolute;
	visibility: hidden;
}
.slides {
	width: 400%;
	height: 100%;
	display: flex;
}

.slide {
	position: relative;
	width: 25%;
	transition: all .6s ease;
}

.slide img {
	width: 50%;
	height: 50%;
	margin-left: 25%;
	/* object-fit: contain; */
}

figure {
	display: inline-block;
	background:  #85ab6f;
	border-radius: 12px;
	padding: 10px;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-family: 'Verdana', Geneva, sans-serif;
}

figcaption {
	margin-top: 30px;
	/* background: rgba(0, 0, 0, 0.5); */
	color: #ddd;
	text-align: center;
}
#slide1:checked ~ .s1 {
	margin-left: 0%;
}
#slide2:checked ~ .s1 {
	margin-left: -25%;
}
#slide3:checked ~ .s1 {
	margin-left: -50%;
}
#slide4:checked ~ .s1 {
	margin-left: -75%;
}
#slide5:checked ~ .s1 {
	margin-left: -100%;
}

@media  screen and (max-width: 460px) {
	.slider {
		
		height: 400px;
		
	}
	.figcaption  {		
		font-size: 10px;
		}
	.slide img {
		width: 100%;
		height: 100%;
		margin-left: 0;
		object-fit: contain;
	}
.figure {
	width: 100%;
	padding: 5px;
	font-size: 10px;
	
}		
}

@media screen and (max-width: 768px) {
	.slider {
		
		height: 400px;
		
	}
	.figcaption  {		
		font-size: 10px;
		}
	.slide img {
		width: 100%;
		height: 100%;
		margin-left: 0;
		object-fit: contain;
	}
.figure {
	width: 100%;
	padding: 5px;
	font-size: 10px;
}		
}